@model MvcLabManager.Models.Lab

@{
    ViewData["Title"] = "Atualizar Lojas";
}

<div class="text">
    <h1 class="display-4">Atualizar Loja</h1>
    <hr>
       
</div>
<div class="container">
   <form asp-controller="Lab" asp-action="Update" asp-route-id="@Model.Id" method="POST">
        <div class="form-group">
            <label asp-for="Id">Id</label>
            <input type="text" asp-for="Id" class="form-control" value="@Model.Id" readonly>
        </div>  
        <div class="form-group" >
            <label asp-for="Number">Número</label>
            <input type="text" asp-for="Number" class="form-control" value="@Model.Number" required>
        </div> 
        <div class="form-group" >
            <label asp-for="Name">Nome</label>
            <input type="text" asp-for="Name" class="form-control" value="@Model.Name" required>
        </div> 
        <div class="form-group" >
            <label asp-for="Sector">Bloco</label>
            <input type="text" asp-for="Sector" class="form-control" value="@Model.Sector" required>
        </div> 
        
        <button type="submit" class="btn btn-primary">Enviar</button>
    </form>
</div>
    

